<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Stephany Cristina de Carvalho</h2>
            <br>
            <p>
                Sou uma pessoa multifacetada, com um talento especial para a música e as artes visuais. Com uma voz marcante e carisma no palco, já fiz alguns shows de sertanejo, conquistando o público com meu jeito autêntico e minhas interpretações envolventes. Além de meu amor pela música, sou um verdadeiro artista no papel e demonstro um talento impressionante para o desenho. Esse dom se reflete em meu estudo atual na faculdade de animação, onde aprimoro minhas habilidades e exploro o universo criativo de forma ainda mais profunda. Minha paixão por jogos me levou a concluir um curso técnico em programação de jogos, mostrando que a combinação de tecnologia e arte é uma parte essencial da minha jornada. Com essa mistura de habilidades e interesses, continuo a trilhar um caminho único e promissor, que reflete minha dedicação e amor por tudo que envolve a criação e a expressão artística.
            </p>
        </div>
        <div class="col-sm">
            <img src="../../../assets/perfil.jpeg" class="rounded" alt="...">
        </div>
    </div>
</div>