<div class="container">
    <div class="row">
        <div class="col-sm d-flex flex-column justify-content-center">
            <h3>Eu fiz De tudo - Irmãs Carvalho (Vídeo Clipe) Oficial HD</h3>
            <br>
            <h6>Videoclipe lançado em Abril de 2024</h6>
         </div>
         <div class="col-sm">
            <div class="youtube-player">
                <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/yQmJ5Guswc0"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
         </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm d-flex flex-column justify-content-center">
            <h3>Ela - Irmãs Carvalho (Video Clipe) Oficial HD</h3>
            <br>
            <h6>Videoclipe lançado em novembro de 2023</h6>
         </div>
         <div class="col-sm">
            <div class="youtube-player">
                <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/-kiNfjuQHWQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
         </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm d-flex flex-column justify-content-center">
            <h3>Já aconteceu - Irmãs Carvalho</h3>
            <br>
            <h6>Música lançada em Setembro de 2023</h6>
         </div>
         <div class="col-sm">
            <div class="youtube-player">
                <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/na_6pwqinLM"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
         </div>
    </div>
</div>