html, body {
    height: 100%; /* Garante que o tamanho da tela seja 100% */
    margin: 0; /* Remove a margem padrão */
  }
  
  body {
    background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }